<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <meta charset="UTF-8"/>
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

    <div class="form-group">
        <label th:for="category">Add Category</label>
        <input class="form-control" th:field="*{category}"/>
        <span th:errors="*{category}" class="error"></span>
    </div>


    <input type="submit" value="Add Category" />
</body>
</html>